<!--The content below is only a placeholder and can be replaced.-->
<div class="main">
  <div class="main-container">
    <nav class="navbar">
      <h1 class="purple" style="font-family: 'Ribeye Marrow', cursive;">Look After</h1>
      <div class="buttons-container" style="align-items: center;">
        <div *ngIf="!user" class="btn login" (click)="login()"><p>Login</p></div>
        <div *ngIf="!user" class="btn create-user" (click)="createUserDialog()" > <p>Create User</p> </div>
        <div *ngIf="!!user" style="margin-top: auto; margin-right: 30px;"> <p >{{user.name}}, {{user.date}}</p> </div>
        <div *ngIf="!!user" class="btn logout" (click)="logout()" > <p>Logout</p> </div>
      </div>
    </nav>
    <router-outlet></router-outlet>

  </div>
  <footer>
    <div class="footer-container">
      <div class="contacts" >
        <p class="email yellow">Email: confort@lookafter.com</p>
        <p class="phone yellow">Phone: 1-971-diaper</p>
      </div>
      <div class="social-media">
        <a href="https://www.youtube.com" style="cursor: pointer;" target="_blank" target="_blank"><img src="../assets/youtube.png"   alt="Youtube"></a>
        <a href="https://www.facebook.com/" style="cursor: pointer;" target="_blank" target="_blank"><img src="../assets/facebook.png"  alt="Facebook"></a>
        <a href="https://www.instagram.com/" style="cursor: pointer;" target="_blank" target="_blank"><img src="../assets/instagram.png"  alt="Instagram"></a>
        
        
      </div>
    </div>
  </footer>
</div>
